trunk/Aplicacion/Codigo y Pruebas/REP001COMUN/REP001.Comun.WebClient.MVC/Service References/PersonWebServiceReference/PersonWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/REP001.Comun.WebHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/REP001.Comun.WebHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonInfo" nillable="true" type="tns:PersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonInfo" nillable="true" type="tns:ArrayOfPersonInfo" />
  <xs:complexType name="PersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ap1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ap2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirdDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImgDir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonInfo" nillable="true" type="tns:PersonInfo" />
</xs:schema>