trunk/Aplicacion/Codigo y Pruebas/REP001COMUN/REP001.Comun.WebClient.MVC/Service References/PersonWebServiceReference/PersonWebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/REP001.Comun.WebHost/PersonWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/REP001.Comun.WebHost" />
  <xs:import schemaLocation="http://localhost/REP001.Comun.WebHost/PersonWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoSearchByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSearchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/REP001.Comun.WebHost" minOccurs="0" name="DoSearchByNameResult" nillable="true" type="q1:ArrayOfPersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSearchByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSearchByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DoSearchByIDResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoImageSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoImageSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoImageSearchResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>