trunk/Aplicacion/Codigo y Pruebas/REP001COMUN/REP001.Comun.Web.Client.MVC/Service References/REP01.Comun.PersonServiceReference/ComunPersonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64766/WebService/ComunPersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/REP001.Comun.Web.MVC.WebService" />
  <xs:element name="DoSearchByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSearchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/REP001.Comun.Web.MVC.WebService" minOccurs="0" name="DoSearchByNameResult" nillable="true" type="q1:ArrayOfPersonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>